@import "../../styles/library/mixin.scss";
@import "../../styles/library/variables.scss";

.navbar {
  background-color: transparent;
  height: 4rem;
  box-shadow: $light-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  @include container;

  .logo {
    margin-bottom: 0.1rem;
    color: $primary-green;
    text-transform: lowercase;
    font-variant: small-caps;
    cursor: pointer;
  }

  .listItems {
    display: none;
  }
}

.btn {
  display: inline-block;
  border: none;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 1.25rem;
  border-radius: $btn-radius;
  box-shadow: $light-shadow;
  transition: $btn-transition;
  cursor: pointer;
}

.resp_btn {
  padding: 0.4rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.btn_toggle {
  font-size: 1.5rem;
  padding-bottom: 0;
  align-self: center;
  transition: $btn-transition;

  &:hover {
    font-size: 2rem;
    color: $flickr-pink;
  }
}

.nav_icon {
  color: $primary-green;
  padding: 0;
  margin: 0;
  transition: $btn-transition;

  &:hover {
    transform: rotateZ(90deg);
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    justify-content: space-around;
    height: 5rem;

    .listItems {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }

  .btn_toggle {
    display: none;
  }

  .nav_icon {
    font-size: 1.4em;
  }
}
