/* Colors */
$primary-green: #4d856d;
$flickr-pink: #c3395b;
$byzantine: #86386b;
$light-pink: #f7bfcd;
$light-yellow: #f5bd79;
$text-color: #efefef;
$dark-textColor: rgb(44, 44, 44);
$delete-color: #d31111;
$divider-color: rgba(0, 0, 0, 0.1);
$dark-bg: #222;
$soft-dark: #272724;

/*Scala di Grigi*/
$extra-lightGray: #f8f9faff;
$soft-lightGray: #f2f2f3;
$light-gray: #ced4daff;
$primary-gray: #adb5bdff;
$soft-darkGray: #89949e;
$dark-gray: #6c757dff;
$extra-darkGray: #343a40ff;

/* Global */
$letter-spacing: 0.08em;
$transition: all 0.3s ease;
$btn-transition: all 0.125s ease;
$radius: 0.25rem;
$img-radius: 0.25rem 0.25rem 0rem 0rem;
$card-radius: 0rem 0rem 0.25rem 0.25rem;
$btn-radius: 16px;
$light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
