@import "../styles/library/mixin.scss";
@import "../styles/library/variables.scss";

.hero {
    display: grid;
    height: 100%;
    align-items: center;

    .hero_text {
        margin-top: 2rem;
        width: 100%;
        display: grid;
        place-items: center;
        text-align: center;
        gap: 2rem;
        color: $text-color;

        h1 {
            color: $flickr-pink;
        }

        h4 {
            font-feature-settings: "smcp";
            font-variant: small-caps;
        }

        p {
            color: $light-gray;
            line-height: 1.5;
        }

        .btn {
            text-align: center;
            padding: 0.9rem 2rem;
            background-color: $flickr-pink;
            border: 5px solid $flickr-pink;
            border-radius: $btn-radius;
            color: white;
            letter-spacing: $letter-spacing;
            font-size: 0.9rem;
            font-weight: 700;
            text-transform: uppercase;
            transition: $transition;
            cursor: pointer;

            &:hover {
                border: 5px solid $flickr-pink;
                background-color: transparent;
                color: $flickr-pink;
            }
        }
    }
}

.section {
    margin: 2rem auto;

    @include container;

    .searchBar {
        width: 100%;

        form {
            margin: 2rem 1.5rem;
            display: grid;
            justify-content: flex-start;
            gap: 1rem;
        }

        .search_input {
            display: grid;
            grid-template-columns: auto auto;
            gap: 3rem;
            align-items: center;

            input {
                padding: 0.5rem 1rem;
                border-radius: $btn-radius;
                border: 1px solid $soft-darkGray;
                color: $extra-darkGray;

                &:focus {
                    box-shadow: 0px 0px 1px 0px rgb(44, 44, 44);
                    outline: 0px transparent;
                }
            }

            .icon_btn {
                padding: 0;
                font-size: 2rem;
                color: $flickr-pink;
                border: none;
                background: transparent;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .hero {
        padding: 0 3rem;

        .hero_text {
            margin-top: 3rem;
            grid-column: 1/7;
            gap: 3rem;
            text-align: left;
            place-items: start;
        }
    }

    .section {
        margin: 3rem auto;

        .searchBar {
            padding: 0 2rem;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;

            form {
                grid-template-columns: auto auto auto;
                align-items: center;
                gap: 3rem;
            }
        }
    }
}
